{%extends 'base.html'%}

{%block content%}

<div class="container">
<h3>Formal Shirts</h3>


<table width=100% border=2>
{%for l in lst%}
<tr>
<td width=50%>
Name: {{l.name}}<br>
<img src="{{l.photo.url}}" alt='Formal Shirt Photo' width=200 height=250/>
</td>
<td width-50%>
<h4>Product Details</h4>
Price: {{l.price}}<br>
Quantity: {{l.stock}}<br>
Availabile: {%if l.available%}Yes{%else%}No{%endif%}<br>
Created: {{l.created}}<br>
Updated: {{l.updated}}<br>
Description: {{l.desc}}<br>

<a href='cart{{l.id}}'>Add To Cart</a><br>

</td>
</tr>

{%endfor%}
</table>
</div>

{%endblock%}
